/**
 * Fichier css principal.
 */

body{
  background-color: #3e5066;
}
.container{
  margin-top: 100px;
  width: 80%;
  border-radius: 5px;
  padding : 50px;
  background-color: #f2f2f2;
  height: 500px;
  overflow: scroll;
}

.container::-webkit-scrollbar{
  display: none;
}
.blockquote{
  border-left: 2px solid black;
}
.jumbotron{
  background-color: #e0e0e0;
}
.c3po{
  width: 150px;
}
form{
  margin: auto;
}
.searchGlyph{
  color: #ff5500;
}
.msgAlert{
  padding-top: 30px;
}

.archiverClass{
  padding-top: 7%;
  margin: auto;
  width: 100%;
}
.homeClass{
  padding-top: 7%;
  margin: auto;
  width: 100%;
  height: 400px;
}

.loginClass{
  padding-top: 7%;
  margin: auto;
  width: 80%;
}

.panel{
  box-shadow: 0 25px 8px -10px rgba(0, 0, 0, 0.2);
  animation: opening 500ms ease-in-out;
}

td{
  color: #3e5066;
}
tr{
  animation: opening 500ms ease-in-out;
}

@keyframes opening{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
