
body{
  background-color: rgb(0, 51, 77);
}
.page{
  margin-top: 200px;
  text-align: center;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
}
.listeTirages{
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  margin-top: 10px;
  height: 365px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.listeTirages::-webkit-scrollbar {
    display: none;
}
.listeTiragesButtons{
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
.header{
  background-image: url('../../../img/piet-mondrian_1911-1911_the-grey-tree.jpg');
  background-size: 100%;
  background-position: 0% 60%;
  padding-top: 50px;
  height:150px;
  background-color: black;
}
.left{
  padding-top: 50px;
  color: grey;
  /*background-color: rgb(153, 221, 255);*/
}
.col-md-9{
  border-left: 2px solid black;
  /*background-color: rgb(204, 239, 255);*/
}
.panelInput{
  padding-top: 125px;
}
.combinaison{
  border-bottom: 1px solid grey;
}
.combinaisonValue{
  color: white;
  padding-top: 7px;
}
.archiverClass{
  padding-left: 100px;
}
.important{
  color: rgb(255, 92, 51);
}
input[type=date]{
  color: white;
  text-align: center;
  border: none;
  background-color: rgba(255,255,255,0.1);
}
input[type=text]{
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: white;
  text-align: center;
  border: none;
  background-color: rgba(255,255,255,0.1);
}
input[type=password]{
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: white;
  text-align: center;
  border: none;
  background-color: rgba(255,255,255,0.1);
}
.top{
  height: 300px;
}
.welcomeText{
  color: white;
  padding-top: 125px;
}
.welcomeText:hover{
  cursor: pointer;
}

.verticalMenu{
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 100px;
  box-shadow: 0 20px 15px -7px rgba(0, 0, 0, 0.3);
}
.navBouton{
  padding-top: 9px;
  width: 100px;
  height: 40px;
  background-color: rgb(0, 122, 179);
}
.navBouton:active{
  background-color: rgb(0, 51, 77);
  color: white;
}
.linkNav:link{
  color: white;
}
.navBouton:hover{
  background-color: rgb(0, 105, 153);
}
.linkNav:hover{
  text-decoration: none;
  color: white;
}
.linkNav:visited{
  text-decoration: none;
  color: white;
}
.linkNavRed:link{
  color: red;
}
.linkNavRed:hover{
  text-decoration: none;
  color: red;
}
.linkNavRed:visited{
  text-decoration: none;
  color: red;
}

.userImage{
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  box-shadow: 0 30px 15px -15px rgba(0, 0, 0, 0.4);
}
.c3poArea{
  padding-left: 150px;
}
.c3po:hover{
  cursor: pointer;
}
.c3po{
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}
.userName{
  margin-top: 10px;
}
.alert{
  margin-top: 25px;
  height: 100px;
}
